
body, html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #fffacd;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}
.form-box {
  width: 600px;
  padding: 80px;
  background: #fdfd96;
  text-align: center;
  /* REDONDIAR BORDES  */
  border: 2px solid #fffacd;
  border-radius: 25px;

}
.form-title {
  color: #FF5733
<!--  text-transform: uppercase;-->
  font-weight: 500;
  outline:none !important;
   outline-width: 0 !important;
   box-shadow: none;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
}
.clo {
  width:300px; height:45px;
  background:#C0C0C0;
  border-radius:24px;
  outline:none !important;
   outline-width: 0 !important;
   box-shadow: none;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
}
.clog{
  background:#C0C0C0;
  border-radius:24px;
  outline:none !important;
   outline-width: 0 !important;
   box-shadow: none;
   -moz-box-shadow: none;
   -webkit-box-shadow: none;
}
.form-box input[type="text"], .form-box input[type="password"], .form-box button[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #E67E22;
  padding: 14px 10px;
  width: 350px;
  outline: none;
  color: #000;
  border-radius: 24px;
  transition: 0s;

}

.form-box input[type="text"]:focus, .form-box input[type="password"]:focus {
  width: 280px;
  border-color: #ffffff;
}
.form-box button[type="submit"] {
  border: 0;
  background: #E67E22;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 1px solid #E59866;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0s;//0,25
  cursor: pointer;
  text-decoration: none;
}
.form-box button[type="submit"]:hover {
  background: none;
}
